body {
    font-family: Arial;
    background: #f4f4f4;
}

.container {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    background: white;
    text-align: center;
    box-shadow: 0px 0px 10px gray;
}

input, button {
    display: block;
    margin: 10px auto;
    padding: 8px;
    width: 90%;
}

button {
    background: #4CAF50;
    color: white;
    border: none;
}

button:hover {
    background: #45a049;
}
